@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&display=swap");
*{
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
    color: white;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    &:hover{
        color: #2bc8c0;
    }
}

.searchBar{
    color: #15545e;
    font-weight:800;
}
.upBar{
    background-color: #15545e;
    border-radius: 10px;
}
.topTextA, .topTextB{
    font-size: 1.5rem;
}
.topTextB{
    text-align: center;
}

body{
    overflow-x: hidden;
    background-color: #0f4452;
}
header{
    background-color:#187178;
}
.box1{
    border-radius: 10px;
    background: linear-gradient(105deg, #15545e 39%, #187178);
    color: white;
    font-weight: bold;
}

.boxMenuList{
    .boxList{
        li{
            color: red;
            list-style: none;
        }
    }
}

.carrito {
    min-width: 250px;
    max-width: 600px;
    height: auto;
    position: fixed;
    top: 135px;
    right: 0;
    z-index: 9999;
}

.tarjeta{
    background: linear-gradient(105deg, #15545e 39%, #187178);
    border: 2px solid;
    border-radius: 10px;
    color: white;
    img{
        border: 0px;
    }
}

.button{
    background: linear-gradient(105deg, #104750 19%, #1c747a);
        border: solid #187178;
        color: #2bc8c0;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bolder;
    max-height: 35px;
    &:hover{
        background: linear-gradient(105deg, #104750 19%, #1c747a);
        border: solid white;
        color: white;
    }
}


footer{
    background: linear-gradient(105deg, #104750 19%, #1c747a);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.containerUser{
    margin-top: 8.5rem;
    position: fixed;
    z-index: 999;
}
.boxList{
    border: solid 5px #2bc8c0;;
    z-index: 9999;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.priceList{
    border: solid 3px white;;
    border-radius: 10px;
    background: linear-gradient(105deg, #187178 49%, #2bc8c0);
}

tr{
    border: solid 1px;
}
td{

    border: solid 1px;

}
.btn{
    color: white;
    transition: 0.2s all;;
}

.dolarBox{
    background-color: white;
}

.filtroProductos{
    border-bottom: solid 1px #2bc8c0;
}
h5{
    font-weight: bolder;
    font-style: oblique;
}